<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/calc.css" %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
    </script>

</head>
<body>
<div class="container">
    <h2>Simple Cash Drawer</h2>
    <p>by Vineeth</p>
    <div class="calc">
        <div class="text-center input-group mb-3">
            <div class="col-4"></div>
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <textarea class="#input" value="" rows="1" cols="45" readonly></textarea>
            <div class="col-4"></div>
        </div>

        <div class="row text-center mt-5">
            <div class="col"><button class="btn btn-default btn-block" value="+1" id="1">$1</button></div>
            <div class="col"><button class="btn btn-default btn-block" value="+5" id="5">$5</button></div>
            <div class="col"><button class="btn btn-default btn-block" value="+10" id="10">$10</button></div>
{#            <button class="btn btn-default" value="+" id="add">+</button>#}
        </div>
        <div class="row text-center mt-5">
            <div class="col"><button class="btn btn-default btn-block" value="+0.5" id="50">50&#162;</button></div>
            <div class="col"><button class="btn btn-default btn-block" value="+0.25" id="25">25&#162;</button></div>
            <div class="col"><button class="btn btn-default btn-block" value="+0.10" id="100">10&#162;</button></div>
        </div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4"><button class="btn btn-danger btn-block" value="" id="clear">Clear</button></div>
            <div class="col-4"></div>
{#            <div class="col-6 "><button class="btn btn-primary btn-block" value="=" id="equal">=</button></div>#}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static "js/calc.js" %}"></script>
</body>
</html>
